﻿table {
    border: 1px solid black;
    border-spacing: 0px;
}

td, th {
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) td {
    margin: 0px;
    /*background-color: grey;*/
}

tr.greenbackground {
    background-color: green;
}

tr.redbackground {
    background-color: red;
}
